@mixin prop_calc($prop,$value) {
    #{$prop}: -webkit-calc(#{$value});
    #{$prop}: -moz-calc(#{$value});
    #{$prop}: calc(#{$value});
}

@mixin display__flex() {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

@mixin box_sizing__border_box() {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin opacity($value) {
    filter: alpha(opacity=$value);
    -moz-opacity: $value * 0.01;
    opacity: $value * 0.01;
}

@mixin transition($propertyName, $value) {
    -webkit-transition: $propertyName $value;
    -moz-transition: $propertyName $value;
    -ms-transition: $propertyName $value;
    -o-transition: $propertyName $value;
    transition: $propertyName $value;
}


:root {
    --color-text-color-dark-background: #ffffff;
    --color-text-color-light-background: #111111;
    --color-body-back-color: #f8f4f0;
    --color-body-text-color: #4d5156;
    --color-alternative-record0-color: #faf8f6;
    --color-alternative-record1-color: #f4f2f0;
    --color-table-mouse-over-color: #f0f0f0;
    --color-input-element-text-color: #666666;
    --color-input-element-back-color: #ffffff;
    --color-input-element-mouse-over-color: #f0f0f0;
    --color-input-element-border-color: #aaaaaa;
    --color-input-element-current-color: #6699ff;
    --color-input-element-checkbox-checked: #4B65D8;
    --color-input-element-checkbox-back-color: #cccccc;
    --color-edit-record-mouse-over-color: #f0f0f0;
    --color-selected-back-color: #e0e0e0;
    --color-select-button-selected-color: #fff0e0;
    --color-edit-record-mouse-over-color: #f0f0f0;
    --color-button-back-color: #3388cc;
    --color-button-mouse-over-color: #33aacc;
    --color-button-focus-color: #33aacc;
}

.delete-link {
    @include display__flex();
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    width: 28px;
    height: 28px;
    margin-left: auto;
    color: var(--color-text-color-dark-background);
    background-color: #ff0000;
}

.input-property-panel {
    padding: 10px;

    .button {
        border: none;
        color: var(--color-button-text-color);
        background-color: var(--color-button-back-color);
        font-size: 14px;
        padding: 2px 8px;
        cursor: pointer;
        text-decoration: none;
        @include box_sizing__border_box();

        &:hover {
            background: var(--color-button-mouse-over-color);
        }

        &:focus {
            background-color: var(--color-input-element-current-color);
        }
    }

    &.hidden {
        display: none;
    }

    .property-name {
        margin-bottom: 4px;
    }

    input[type='text'], input[type='password'], textarea, select,
    .select-record-panel,
    [element-type='SelectButton'] .property-value-panel {
        height: 32px;
        font-size: 16px;
        width: 100%;
        padding: 4px;
        background-color: var(--color-input-element-back-color);
        color: var(--color-input-element-text-color);
        border: solid 1px #aaaaaa;
        @include box_sizing__border_box();

        &:hover {
            border-color: var(--color-input-element-current-color);
        }

        &:focus {
            border-color: var(--color-input-element-current-color);
        }
    }

    input[type=radio] {
        cursor: pointer;
    }

    input[type=text].date {
        width: 110px;
    }

    input[type=text].hour-minute {
        width: 60px;
    }

    select.hour-minute {
        width: 80px;
    }

    textarea {
        min-height: 160px;
    }

    &[element-type='Color'] {
        .property-value-panel {
            @include display__flex();
            align-items: center;

            input[type=text] {
                width: 100px;
            }
        }

        .color-panel {
            display: block;
            margin-left: 6px;
            width: 32px;
            height: 32px;
            cursor: pointer;
            border: solid 1px var(--color-input-element-border-color);
        }

        .color-talbe-panel {
            height: 360px;
            display: none;
            overflow-y: scroll;

            .color-table {
                margin-top: 4px;

                td.color-cell {
                    border: solid 1px #ffffff;
                    width: 32px;
                    height: 32px;
                    cursor: pointer;

                    &:focus {
                        outline-style: dashed;
                        border: dotted 1px #000000;
                    }
                }
            }
        }
    }

    &[element-type='DateTimeDuration'] .property-value-panel {
        > .flex-panel {
            @include display__flex();
            align-items: center;
            margin: 4px 0;

            > * {
                margin-bottom: 4px;
            }

            .duration-start-panel {
                @include display__flex();
                align-items: center;
                flex-basis: 0 1 170px;
                margin-right: 6px;
            }

            .duration-end-panel {
                display: none;

                > .flex-panel {
                    @include display__flex();
                    align-items: center;

                    .duration-separator {
                        margin-right: 6px;
                    }
                }
            }

            @media only screen and (max-width: 768px) {
                display: block;

                .duration-end-panel {
                    .duration-separator {
                        display: none;
                    }
                }
            }
        }
    }

    $width-checkbox-circle: 20px;

    &[element-type='CheckBox'] {
        padding: 5px 10px;

        .property-value-panel {
            @include display__flex();
            align-items: center;

            .checkbox-panel {
                flex: 0 0 40px;
                position: relative;
                display: inline-block;
                height: $width-checkbox-circle;
                margin-right: 6px;

                input {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 5;
                    opacity: 0;
                    cursor: pointer;

                    &:focus {
                        + label:after {
                            background-color: var(--color-input-element-current-color);
                        }
                    }

                    &:checked {
                        + label {
                            background-color: var(--color-input-element-checkbox-checked);

                            &:after {
                                left: 50%;
                            }
                        }
                    }
                }

                label {
                    width: 100%;
                    height: 100%;
                    border-radius: 30px;
                    background: var(--color-input-element-checkbox-back-color);
                    position: relative;
                    display: inline-block;
                    @include transition(all, 0.4s);
                    @include box_sizing__border_box();

                    &:after {
                        content: '';
                        position: absolute;
                        width: $width-checkbox-circle;
                        height: $width-checkbox-circle;
                        border-radius: 100%;
                        left: 0;
                        top: 0;
                        background: #fff;
                        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                        @include transition(all, 0.4s);
                    }
                }
            }
        }
    }

    .checkbox-text {
        cursor: pointer;
    }

    &[element-type='SelectButton'] .property-value-panel {
        background-color: transparent;
        border: none 0;
        padding: 0;
        @include display__flex();
        align-content: center;
        flex-wrap: wrap;

        .radio-button-panel {
            margin: 0;
            padding: 0;
        }

        .radio-button-panel input[type=radio] {
            position: absolute;
            left: -100px;

            &:focus + label {
                text-decoration: underline;
            }
        }

        .radio-button-panel label {
            outline: none;
            color: #999999;
            display: block;
            cursor: pointer;
            font-weight: bold;
            padding: 8px 10px;
            height: 100%;
            @include box_sizing__border_box();

            &:hover {
                text-decoration: underline;
            }
        }

        .radio-button-panel input[type=radio]:checked + label {
            background-color: var(--color-select-button-selected-color);
        }

        .radio-button-panel label + input[type=radio] + label {
        }
    }

    &[element-type='RadioButtonList'] .property-value-panel {
        color: var(--color-input-element-text-color);
        background-color: var(--color-input-element-back-color);
        border: solid 1px var(--color-input-element-border-color);
        padding: 4px;

        .radio-button-panel {
            display: block;
            min-height: 24px;

            input {
                &:focus {
                    + label {
                        text-decoration: underline;
                    }
                }
            }

            label:hover {
                text-decoration: underline;
            }
        }
    }

    .select-record-panel {
        @include display__flex();
        align-items: center;
        cursor: pointer;
        padding: 4px;
        min-height: 32px;
        height: auto;
        @include box_sizing__border_box();

        > * {
            width: 100%;
        }

        .delete-link {
            @include display__flex();

            &:focus {
                outline-style: dashed;
                outline-color: var(--color-body-text-color);
            }
        }
    }

    .select-record-list-panel, .search-record-list-panel {
        font-size: 16px;
        width: 100%;
        min-height: 100px;
        background-color: var(--color-input-element-back-color);
        color: var(--color-input-element-text-color);
        border: solid 1px #aaaaaa;
        overflow-y: auto;

        [h-record] {
            padding: 4px;
        }

        .input-property-panel[element-type='CheckBox'] {
            padding: 5px 10px 5px 5px;
        }
    }

    .select-record-list-panel {
        max-height: none;

        .edit-record-panel {
            &[h-record] {
                padding: 0;
                margin-bottom: 4px;
            }

            .title-panel {
                @include display__flex();
                align-items: center;
                height: 36px;
                cursor: pointer;
                @include box_sizing__border_box();

                &:hover {
                    background-color: var(--color-input-element-mouse-over-color);
                }

                .text {
                    &:focus {
                        text-decoration: underline;
                    }
                }

                > .flex-left-panel {
                    flex: 0 1 100%;
                    padding: 10px;
                }

                > .flex-right-panel {
                    flex: 0 0 40px;
                    margin-left: auto;
                    padding: 4px;
                }
            }

            &[is-delete='true'] {
                @include opacity(20);

                .title-panel .text {
                    text-decoration: line-through;
                }
            }

            .content-panel {
                padding-left: 4px;
            }

            &[toggle-state='Expand'] .content-panel {
                display: block;
            }

            &[toggle-state='Collapse'] .content-panel {
                display: none;
            }
        }

        .edit-record-panel:nth-child(2n) {
            background-color: var(--color-alternative-record0-color);
        }

        .edit-record-panel:nth-child(2n+1) {
            background-color: var(--color-alternative-record1-color);
        }

        .delete-link {
            @include display__flex();

            &:focus {
                outline-style: dashed;
                outline-color: var(--color-body-text-color);
            }
        }

        [sort-record]:hover {
            cursor: pointer;
            background-color: var(--color-edit-record-mouse-over-color);
        }

        .sort-line-panel {
            position: relative;
            height: 20px;

            .line {
                position: absolute;
                top: 9px;
                height: 1px;
                width: 100%;
                z-index: 100;
                background-color: #0000cc;
            }

            .text-panel {
                @include display__flex();
                align-items: center;
                height: 20px;

                .text {
                    display: inline-block;
                    z-index: 101;
                    margin: 0 auto;
                    padding: 2px 6px;
                    color: #000000;
                    background-color: #ffffff;
                    border: solid 1px #cccccc;
                }
            }
        }
    }

    .button-list-panel {
        @include display__flex();
        align-items: center;

        .button {
            font-size: 16px;
            margin-right: 4px;
        }
    }

    .search-record-list-panel {
        height: 0;
        margin-top: -1px;
        display: none;
        @include transition(height, 0.8s);

        .header-panel {
            @include display__flex();
            padding: 10px;

            input {
                height: 30px;
                @include box_sizing__border_box();
            }

            .search-button {
                width: 60px;
                margin-left: auto;
            }
        }

        .content-panel {
            .record-list-panel {
                height: 0;
                margin: 0;
                overflow-y: auto;
                border: solid 1px var(--color-border-color);

                [h-record] {
                    cursor: pointer;

                    &:hover {
                        background-color: var(--color-input-element-mouse-over-color);
                    }

                    &[current] {
                        background-color: var(--color-selected-back-color);
                    }
                }

                .delete-link {
                    display: none;
                }
            }
        }

        &.slide-down {
            display: block;
            height: auto;

            .record-list-panel {
                height: 50vh;
            }
        }
    }
}

.input-property-panel-message-panel,
.validation-result-message-panel {
    position: relative;
    margin-top: 4px;
    display: none;

    .baloon {
        border-bottom: 12px solid;
        border-right: 12px solid transparent;
        border-left: 12px solid transparent;
        margin-left: 20px;
        width: 24px;
        height: 12px;
    }

    .text-panel {
        font-size: 14px;
        border: none;
        padding: 4px 6px;
        line-height: 1.5;
    }
}

.input-property-panel-message-panel {
    .baloon {
        border-bottom-color: #b0f0ff;
    }

    .text-panel {
        background-color: #b0f0ff;
        color: #446699;
    }
}

.validation-result-message-panel {
    .baloon {
        border-bottom-color: #fffaa0;
    }

    .text-panel {
        background-color: #fffaa0;
        color: #ff4400;
    }
}

//絵文字のポップパネルの調整
.ck.ck-toolbar-dropdown .ck.ck-toolbar .ck.ck-toolbar__items {
    width: 360px;
    @include prop_calc("max-width", "100vw - 40px");
    flex-wrap: wrap !important;
}

.ck-editor {
    [data-language] {
        background: #272822;
    }
}



.select-time-popup-panel {
    position: absolute;
    z-index: 220;
    display: none;
    width: 100px;
    height: 364px;
    color: #111111;
    background-color: #ffffff;
    border: solid 1px #cccccc;

    .header-panel {
        font-size: 12px;
        border-bottom: solid 1px #446699;
        margin: 0;
        padding: 4px;
    }

    td {
        text-align: center;
        vertical-align: middle;
    }

    .hour-minute-panel {
        border-bottom: dotted 1px #cccccc;
        @include box_sizing__border_box();

        &:hover {
            background-color: #c0eafa;
        }

        &:last-child {
            border-bottom: none 0;
        }

        .hour-panel {
            height: 30px;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            border-right: solid 1px #446699;
            width: 36px;
        }

        .minute-panel {
            cursor: pointer;
            font-size: 16px;
            width: 30px;
            height: 100%;
            @include box_sizing__border_box();

            &:hover {
                background-color: #a0cafa;
            }
        }
    }

    [option-setting] {
        display: none;
    }

    &[display-all='true'] {
        width: 290px;
        height: 420px;

        .hour-minute-panel[option-setting] {
            display: table-row;
        }

        .minute-panel[option-setting] {
            display: table-cell;
        }
    }
}

.select-duration-popup-panel {
    position: absolute;
    z-index: 220;
    display: none;
    width: 100px;
    height: 360px;
    color: #111111;
    background-color: #ffffff;
    border: solid 1px #cccccc;
    @include box_sizing__border_box();

    .duration-minute-panel {
        cursor: pointer;
        @include display__flex();
        align-items: center;
        height: 30px;
        padding-left: 4px;
        vertical-align: middle;
        @include box_sizing__border_box();

        &:hover {
            background-color: #e0eaea;
        }
    }
}
