<template id="SortLinePanelTemplate">
    <div class="sort-line-panel" sort-line-panel="true">
        <div class="line"></div>
        <div class="text-panel">
            <span class="text">{{ Text }}</span>
        </div>
    </div>
</template>
