<button class="@string.Join(" ", this.ClassNameList)" @onclick="this.Button_Click">
    @if (this.Executing)
    {
        <span class="loading-image"></span>
    }
    else
    {
        <span class="text">@this.Text</span>
    }
</button>





