<div class="@this.ClassName">
    <label class="display-flex">
        <span class="checkbox">
            <input type="checkbox" checked="@this.Value" @onchange="async e => await this.ValueChanged_Invoke(e)" />
            <span></span>
        </span>
        <span class="text-panel">@ChildContent</span>
    </label>
</div>
