<div class="@ClassName" name="@Name">
    <div class="display-flex">
        <span class="field-name">
            <span class="text">@this.Text</span>
        </span>
        @ChildContent
    </div>
    @if (this.ValidateResult == false)
    {
        <div class="field-error-panel">@this.ValidateResult.Message</div>
    }
</div>



