@model HigLabo.Web.UI.InputPropertyDateDurationPanel

<div class="flex-panel" @Model.FlexPanel.Attributes.GetHtmlString()>
    <span class="duration-start-panel">
        <input type="text" h-name="StartDate" date-picker="true" class="date" @Model.FlexPanel.StartDate.Attributes.GetHtmlString() />
        <span class="duration-separator">-</span>
        <input type="text" h-name="EndDate" date-picker="true" class="date" @Model.FlexPanel.EndDate.Attributes.GetHtmlString() />
    </span>
</div>
