@model HigLabo.Web.UI.FileUploadPanel

<div class="file-upload-panel" file-upload-panel="true" api-path="@Model.ApiPath">
    <input name="file" type="file" select-file="true" multiple="multiple">
    <div class="text-panel">@Model.Text</div>
</div>
