@model HigLabo.Web.UI.InputPropertyColorPanel

<input type="text" color-picker="true" value="@Model.Value" class="color" placeholder="#FFFFFF"
       value="@Model.TextBox.Value"@Model.TextBox.Attributes.GetHtmlString() />
<span class="color-panel" color-panel="true" style="background-color:@Model.Value"></span>
