@model HigLabo.Web.UI.InputPropertyRecordPanel

<div class="select-record-panel" select-record-panel="true" tabindex="0" default-text="@Model.TextSettings.SelectUserDefaultText"@Model.SelectRecordPanel.Attributes.GetHtmlString()>
    <span>@Model.TextSettings.SelectUserDefaultText</span>
</div>
