@model HigLabo.Web.UI.ValidationResultMessagePanel 

<div class="validation-result-message-panel" @Html.Raw(Model.ValidationName.ToString())>
    <div class="baloon"></div>
    <div class="text-panel" text-panel="true"></div>
</div>
