@{ 

}
<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/simplebar@latest/dist/simplebar.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/HigLabo/HigLabo.css">

    <style>
        .user-record-panel {
            display: flex;
        }
    </style>
</head>
<body>
    <textarea id="Description">Hello, World!</textarea>
    <div>
        <button id="PostButton">Post</button>
    </div>
    <script src="https://unpkg.com/simplebar@5.2.1/dist/simplebar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ja.js"></script>
    <script src="/HigLabo/vue.js" type="module"></script>
    <script src="/HigLabo/ckeditor/ckeditor.js"></script>
    <script src="/HigLabo/ckeditor/ckeditor-language-ja.js"></script>
    <script src="https://cdn.tiny.cloud/1/3a6lsu04zxdoo7oc2dfg98ptzn3cz8wk7gtdqt16jr0y4pxw/tinymce/6.3/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="/Views/Home/TinyMce.js" type="module"></script>

</body>
</html>
