@import "color.scss";

*:focus-visible {
    outline: none;
}

::-webkit-input-placeholder {
    color: var(--color-form-element-placeholder);
}

:-ms-input-placeholder {
    color: var(--color-form-element-placeholder);
}

::placeholder {
    color: var(--color-form-element-placeholder);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px var(--color-scrollbar-track);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-thumb);
    border-radius: 4px;
}



.button {
    border: none;
    color: var(--color-button-text);
    background-color: var(--color-button-bg);
    padding: initial 8px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;

    &.radius-button {
        padding: 4px 16px;
        border-radius: 32px;
    }

    &.radius4-button {
        padding: 4px 16px;
        border-radius: 4px;
    }

    &.medium-button {
        font-size: 14px;
        padding: 4px 24px;
        height: 32px;
        box-sizing: border-box;
    }

    &.large-button {
        font-size: 18px;
        padding: 4px 32px;
        height: 40px;
        box-sizing: border-box;
    }

    &:hover {
        background: var(--color-button-hover);
    }

    &:focus {
        background-color: var(--color-button-active);
    }

    &.padding {
        padding: 8px;
    }

    &[disabled] {
        &:hover,
        &:focus {
            background-color: none;
        }
    }
}

$width-checkbox-circle: 20px;

.checkbox-panel {
    display: block;
    height: 24px;

    label.display-flex {
        display: inline-flex;
        cursor: pointer;

        .checkbox {
            flex: 0 0 40px;
            position: relative;
            display: inline-block;
            height: $width-checkbox-circle;
            margin-right: 6px;

            input {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 5;
                opacity: 0;
                cursor: pointer;

                &:checked {
                    + span {
                        &:after {
                            left: 50%;
                            background: var(--color-checkbox-panel-checked);
                        }
                    }
                }

                &:focus {
                    + span:after {
                        border: solid 1px var(--color-checkbox-panel-focus);
                    }
                }
            }

            span {
                width: 100%;
                height: 100%;
                border-radius: 30px;
                background: var(--color-glay-03);
                position: relative;
                display: inline-block;
                width: 40px;
                transition: all, 0.2s;
                box-sizing: border-box;

                &:after {
                    content: '';
                    position: absolute;
                    width: $width-checkbox-circle;
                    height: $width-checkbox-circle;
                    border-radius: 100%;
                    left: 0;
                    top: 0;
                    background: #fff;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                    transition: all, 0.2s;
                }
            }
        }

        .text-panel {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.textbox, 
.textarea, 
.record-panel {
    box-sizing: border-box;
    font-size: 18px;
    color: var(--color-form-element-text);
    background-color: var(--color-form-element-bg);
    border: solid 1px var(--color-border);

    &:hover {
        background-color: var(--color-form-element-hover);
    }

    &:focus {
        border: solid 1px var(--color-form-element-focus);
    }
}
.textbox,
.record-panel {
    width: 100%;

    &.date {
        font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
        width: 100px;
    }

    &.time {
        font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
        width: 60px;
    }

    &.color {
        width: 100px;
    }
}
.record-panel {
    cursor: pointer;
}
.textbox {
    height: 32px;
}
.textarea {
    width: 100%;
    line-height: 24px;
}

.file-upload-panel {
    input[type=file] {
        display: none;
    }

    .text-panel {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
        cursor: pointer;
        border: dotted 3px var(--color-border);
        background-color: var(--color-form-element-bg);

        &:hover {
            background-color: var(--color-glay-02);
        }
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-image {
    /* Spinner size and color */
    width: 24px;
    height: 24px;
    border-top-color: var(--color-glay-04);
    border-left-color: var(--color-glay-04);
    /* Additional spinner styles */
    animation: spinner 400ms linear infinite;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;

    &.large {
        width: 64px;
        height: 64px;
        border-width: 6px;
    }

    &.slow {
        animation: spinner 1s linear infinite;
    }
}

.loading-panel {
    display: flex;
    align-items: center;

    .text {
        margin-top: 3px;
        font-size: 18px;
        margin-left: 8px;
    }
}

.color-square-panel {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: solid 1px var(--color-border);
    cursor: pointer;
    box-sizing: border-box;
}

.field-error-panel {
    font-size: 11px;
    color: var(--color-error);
}







.input-field-panel {
    margin-bottom: 12px;

    .field-name-panel {
        display: flex;
        align-items: center;

        .icon-panel {
            display: grid;
            place-content: center;
            margin-left: auto;
            width: 32px;
            height: 32px;
            cursor: pointer;
            box-sizing: border-box;

            .icon {
                width: 24px;
                height: 24px;
            }

            &:hover {
                background-color: var(--color-glay-02);
            }

            &:focus {
                border: solid 1px var(--color-form-element-focus);
            }
        }
    }

    .display-flex {
        display: flex;
        align-items: center;
    }

    .field-name {
        color: var(--color-glay-06);
    }

    .child-content-panel {
        position: relative;
        box-sizing: border-box;

        .separator {
            margin: auto 4px;
        }

        .record-list-panel {
            background-color: var(--color-form-element-bg);
            border: solid 1px var(--color-border);
            min-height: 32px;

            > .record-panel {
                cursor: pointer;
                border: solid 1px transparent;
                padding-left: 4px;

                .text {
                }

                &:hover {
                    background-color: var(--color-form-element-hover);
                }

                &:focus {
                    border: solid 1px var(--color-form-element-focus);
                }
            }
        }
    }

    .textarea {
        min-height: 200px;
    }
}

.input-field-flex-panel {
    .display-flex {
        display: flex;
        align-items: center;

        .field-name {
            color: var(--color-glay-06);
            flex: 0 0 100px;
        }

        .child-content-panel {
            flex: 0 1 100%;

            .select-container-panel {
                position: relative;
            }

            .textbox {
                display: inline-block;
            }

            .separator {
                margin: auto 0;
            }
        }

        .textbox,
        .textarea,
        .record-panel {
            color: var(--color-form-element-text);
            background-color: transparent;
            border: solid 1px transparent;
            cursor: pointer;

            &:hover {
                background-color: var(--color-glay-02);
            }

            &:focus {
                background-color: var(--color-glay-02);
            }

            &.date,
            &.time {
                text-align: center;
            }
        }
    }
}

.input-field-panel,
.input-field-flex-panel {
    .child-content-panel {
        > .record-panel {
            min-height: 32px;
            box-sizing: border-box;
        }

        .select-date-calendar-panel,
        .select-time-panel,
        .select-color-panel,
        .select-record-panel {
            position: absolute;
            z-index: 200;
        }

        .select-record-panel {
            right: 0;
            min-width: 200px;
        }
    }
}

.select-button-list-panel {
    .record-value-panel {
        display: inline-block;
        border: solid 1px var(--color-border);
        border-radius: 4px;
        padding: 4px 8px;
        margin-bottom: 4px;
        margin-right: 6px;
        cursor: pointer;
        color: var(--color-select-button-text);
        background-color: var(--color-select-button-bg);

        &:last-child {
            margin-right: 0;
        }

        &.selected {
            color: var(--color-white);
            background-color: var(--color-select-button-selected);
            border: solid 1px transparent;
        }

        &:focus {
            border: solid 1px var(--color-select-button-focus);
        }

        &:hover {
            background-color: var(--color-select-button-selected);
        }
    }
}

.select-date-calendar-panel {
    width: 280px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--color-panel-bg);
    border: solid 1px var(--color-border);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.45);

    .start-end-date-panel {
        display: flex;
        align-items: center;

        .textbox {
            width: 100px;
            text-align: center;
            border: none 1px transparent;
            background-color: transparent;
            cursor: pointer;

            &:hover {
                background-color: var(--color-glay-02);
            }
        }

        .end-date {
            margin-left: auto;
        }
    }

    .select-month-panel {
        display: grid;
        grid-template-columns: minmax(32px, 32px) minmax(auto, auto) minmax(32px, 32px);
        height: 32px;
        align-items: center;
        margin-bottom: 6px;

        > .image-panel {
            display: grid;
            place-items: center;
            height: 32px;
            padding: 4px;
            cursor: pointer;

            > img {
                width: 20px;
                height: 20px;
            }

            &:hover {
                background-color: var(--color-glay-02);
            }
        }

        .current-month {
            text-align: center;
            font-size: 20px;
        }
    }

    > table.date-calendar-table {
        border-collapse: collapse;

        > thead {
            font-size: 12px;

            > tr {
                > td {
                    span {
                        overflow: hidden;
                        display: inline-block;
                        font-size: 18px;
                        line-height: 1.2;
                        width: 36px;
                        height: 24px;
                        padding: 0 1px;
                        text-align: center;
                    }
                }
            }
        }

        > tbody {
            > tr {
                > td {
                    width: 32px;
                    height: 32px;
                    text-align: center;
                    vertical-align: middle;
                    cursor: pointer;

                    &.intersect-date {
                        background-color: var(--color-glay-03);
                    }

                    &.selected-date {
                        background-color: var(--color-glay-04);
                    }

                    &.other-month {
                        background-color: var(--color-glay-02);
                    }

                    &:hover {
                        background-color: var(--color-glay-03);
                    }
                }
            }
        }
    }

    .footer-panel {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        .button {
            margin: 0 2px;
            padding: 4px 12px;
            font-size: 14px;
        }
    }
}


.select-time-panel {
    position: absolute;
    background-color: var(--color-panel-bg);
    border: solid 1px #cccccc;

    .header-panel {
        font-size: 14px;
        height: 32px;
        margin: 0;
        padding: 4px;
        border-bottom: solid 1px #446699;
        box-sizing: border-box;
    }

    .content-panel {
        display: flex;

        > * {
            height: 350px;
            overflow-y: auto;
        }
    }

    .footer-panel {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;

        .button {
            margin: 0 2px;
            padding: 4px 12px;
            font-size: 14px;
        }
    }
}

.start-time-panel,
.end-time-panel {
    height: 100%;
    min-width: 172px;

    td {
        text-align: center;
        vertical-align: middle;
    }

    .hour-minute-panel {
        border-bottom: dotted 1px var(--color-border);
        box-sizing: border-box;

        &:hover {
            background-color: var(--color-glay-01);
        }

        &:last-child {
            border-bottom: none 0;
        }

        .hour-panel {
            height: 30px;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            border-right: solid 1px var(--color-border);
            width: 36px;
        }

        .minute-panel {
            cursor: pointer;
            font-size: 16px;
            width: 30px;
            height: 100%;
            box-sizing: border-box;

            &:hover {
                background-color: var(--color-glay-03);
            }
        }
    }
}

.select-duration-panel {
    min-width: 100px;
    box-sizing: border-box;

    .duration-minute-panel {
        cursor: pointer;
        display: flex;
        align-items: center;
        height: 34px;
        padding: 5px 8px;
        vertical-align: middle;
        box-sizing: border-box;

        &:hover {
            background-color: var(--color-glay-03);
        }
    }
}


.select-color-panel {
    background-color: var(--color-panel-bg);
    min-width: 320px;
    border: solid 1px var(--color-border);

    .scroll-container-panel {
        height: 320px;
        overflow-y: scroll;
    }

    table {
        tbody {
            tr {
                td {
                    width: 32px;
                    height: 32px;
                    text-align: center;
                    vertical-align: middle;
                    cursor: pointer;
                }
            }
        }
    }

    .footer-panel {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        .button {
            margin: 0 2px;
            padding: 4px 12px;
            font-size: 14px;
        }
    }
}

.select-record-panel {
    background-color: var(--color-panel-bg);
    width: 100%;
    border: solid 1px var(--color-border);
    box-sizing: border-box;

    .tab-list-panel {
        display: flex;
        align-items: center;
        height: 40px;

        .tab-panel {
            display: inline-block;
            padding: 4px 8px;
            cursor: pointer;

            &[selected='true'] {
                border-bottom: solid 2px var(--color-scheme-04);
            }

            &:focus {
                font-weight: bold;
            }

            &:hover {
                background-color: var(--color-form-element-hover);
            }
        }
    }

    .search-container-panel {
        display: flex;
        align-items: center;
        padding: 4px;
        border-bottom: solid 1px var(--color-border);

        .flex-right-panel {
            flex: 0 0 150px;
            margin-left: auto;
            text-align: right;
        }

        .textbox {
            border: solid 1px var(--color-border);
            border-radius: 16px;
            padding: 4px 8px;
            cursor: text;
        }

        .button {
            height: 30px;
            text-align: center;
        }
    }

    .record-list-panel {
        max-height: 400px;
        overflow-y: auto;

        > .record-panel {
            display: flex;
            align-items: center;
            cursor: pointer;
            border: none 1px transparent;
            box-sizing: border-box;

            .icon {
                margin-right: 6px;
                width: 16px;
                height: 16px;
            }

            &.current {
                background-color: var(--color-glay-03);
            }

            &:hover {
                background-color: var(--color-form-element-hover);
            }
        }
    }
}

.sort-panel {
    position: relative;

    .drop-panel {
        display: block;
        height: 10px;
        width: 100%;

        &.dragging {
            display: block;
            background-color: var(--color-glay-02);
        }
    }
}

.toggle-record-panel {
    display: block;
    padding: 0;

    > .header-panel {
        display: flex;
        align-items: center;
        font-size: 18px;
        cursor: pointer;
        box-sizing: border-box;

        .drag-bar-panel {
            display: flex;
            align-items: center;
            flex: 0 0 12px;
            cursor: move;
            background-color: var(--color-glay-01);

            .icon-panel {
                display: grid;
                place-items: center;
                overflow: hidden;
                width: 12px;

                img {
                    width: 32px;
                    height: 32px;
                    margin-left: -10px;
                }
            }
        }

        .header-text,
        .header-textbox {
            display: block;
            flex: 0 1 100%;
            padding: 4px;
            border: solid 1px transparent;
            box-sizing: border-box;
        }

        .header-text {
            min-height: 32px;

            &:focus {
                text-decoration: underline;
            }
        }

        .header-textbox {
            height: 28px;
            background-color: transparent;
        }

        .delete-icon-panel {
            flex: 0 0 32px;
            display: grid;
            place-items: center;
            width: 32px;
            height: 32px;
            cursor: pointer;
            border: solid 1px transparent;
            box-sizing: border-box;

            .delete-icon {
                width: 24px;
                height: 24px;
            }

            &:focus {
                border: solid 1px var(--color-form-element-focus);
            }
        }

        &:hover {
            background-color: var(--color-form-element-hover);
        }
    }

    > .content-panel {
        display: none;
        cursor: default;

        &[toggle-state='Visible'] {
            display: block;
        }

        > .permission-list-panel {
            padding: 4px;

            .checkbox-panel {
                margin: 2px 0;
            }
        }
    }

    &[is-dragging='true']{
        > .content-panel {
            display: none;
        }
    }
}


.paging-panel {
    position: relative;

    .page-list-panel {
        position: absolute;
        z-index: 150;
        top: 40px;
        left: 0;
        display: block;
        width: 150px;
        background-color: var(--color-menu-bg);
        border: solid 1px var(--color-border);
        border-radius: 6px;
        max-height: 80vh;
        overflow-y: auto;

        .menu-record-panel {
            display: block;
            height: 32px;
            padding: 4px 10px;
            cursor: pointer;

            &:hover {
                background-color: var(--color-menu-hover);
            }
        }
    }

    .display-flex {
        display: flex;
        align-items: center;
    }

    .page-number-change-panel {
        display: grid;
        place-items: center;
        height: 32px;
        width: 30px;
        background-color: var(--color-menu-bg);
        border: solid 1px var(--color-border);
        border-radius: 6px;
        cursor: pointer;

        img {
            width: 16px;
            height: 16px;
        }

        &:hover {
            background-color: var(--color-menu-hover);
        }
    }

    .page-number-panel {
        display: grid;
        place-items: center;
        height: 32px;
        background-color: var(--color-menu-bg);
        border: solid 1px var(--color-border);
        border-radius: 6px;
        margin: auto 6px;
        cursor: pointer;

        > span {
            margin: auto 8px;
        }

        &:hover {
            background-color: var(--color-menu-hover);
        }
    }
}










