@import "color.scss";

*:focus-visible {
    outline: none;
}

::-webkit-input-placeholder {
    color: var(--color-form-element-placeholder);
}

:-ms-input-placeholder {
    color: var(--color-form-element-placeholder);
}

::placeholder {
    color: var(--color-form-element-placeholder);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px var(--color-scrollbar-track);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-scrollbar-thumb);
    border-radius: 4px;
}



.button {
    border: none;
    color: var(--color-button-text);
    background-color: var(--color-button-bg);
    padding: initial 8px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;

    &.radius-button {
        padding: 4px 16px;
        border-radius: 32px;
    }

    &.radius4-button {
        padding: 4px 16px;
        border-radius: 4px;
    }

    &.medium-button {
        font-size: 14px;
        padding: 4px 24px;
        height: 32px;
        box-sizing: border-box;
    }

    &.large-button {
        font-size: 18px;
        padding: 4px 32px;
        height: 40px;
        box-sizing: border-box;
    }

    &:hover {
        background: var(--color-button-hover);
    }

    &:focus {
        background-color: var(--color-button-active);
    }

    &.padding {
        padding: 8px;
    }

    &[disabled] {
        &:hover,
        &:focus {
            background-color: none;
        }
    }
}

$width-checkbox-circle: 20px;

.checkbox-panel {
    display: block;
    height: 24px;

    label.display-flex {
        display: inline-flex;
        cursor: pointer;

        .checkbox {
            flex: 0 0 40px;
            position: relative;
            display: inline-block;
            height: $width-checkbox-circle;
            margin-right: 6px;

            input {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 5;
                opacity: 0;
                cursor: pointer;

                &:checked {
                    + span {
                        background-color: var(--color-accent-03);

                        &:after {
                            left: 50%;
                        }
                    }
                }

                &:focus {
                    + span:after {
                        background-color: var(--color-form-element-focus);
                    }
                }
            }

            span {
                width: 100%;
                height: 100%;
                border-radius: 30px;
                background: var(--color-glay-03);
                position: relative;
                display: inline-block;
                width: 40px;
                transition: all, 0.2s;
                box-sizing: border-box;

                &:after {
                    content: '';
                    position: absolute;
                    width: $width-checkbox-circle;
                    height: $width-checkbox-circle;
                    border-radius: 100%;
                    left: 0;
                    top: 0;
                    background: #fff;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                    transition: all, 0.2s;
                }
            }
        }

        .text-panel {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.textbox, 
.textarea, 
.record-panel {
    box-sizing: border-box;
    font-size: 18px;
    color: var(--color-form-element-text);
    background-color: var(--color-form-element-bg);
    border: solid 1px var(--color-border);

    &:hover {
        background-color: var(--color-form-element-hover);
    }

    &:focus {
        border: solid 1px var(--color-form-element-focus);
    }
}
.textbox, 
.record-panel {
    width: 100%;

    &.date {
        width: 100px;
    }

    &.color {
        width: 100px;
    }
}
.record-panel {
    display: inline-block;
    cursor: pointer;
}
.textbox {
    height: 32px;
}
.textarea {
    width: 100%;
    line-height: 24px;
}

.file-upload-panel {
    input[type=file] {
        display: none;
    }

    .text-panel {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
        cursor: pointer;
        border: dotted 3px var(--color-border);
        background-color: var(--color-form-element-bg);

        &:hover {
            background-color: var(--color-glay-02);
        }
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-image {
    /* Spinner size and color */
    width: 24px;
    height: 24px;
    border-top-color: var(--color-glay-04);
    border-left-color: var(--color-glay-04);
    /* Additional spinner styles */
    animation: spinner 400ms linear infinite;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;

    &.large {
        width: 64px;
        height: 64px;
        border-width: 6px;
    }

    &.slow {
        animation: spinner 1s linear infinite;
    }
}

.loading-panel {
    display: flex;
    align-items: center;

    .text {
        margin-top: 3px;
        font-size: 18px;
        margin-left: 8px;
    }
}

.color-square-panel {
    display: inline-block;
    width: 32px;
    height: 32px;
    border: solid 1px var(--color-border);
    cursor: pointer;
    box-sizing: border-box;
}

.field-error-panel {
    font-size: 11px;
    color: var(--color-error);
}







.input-field-panel {
    margin-bottom: 12px;

    .field-name {
        color: var(--color-glay-06);
    }

    .child-content-panel {
        position: relative;

        .display-flex {
            display: flex;
            align-items: center;
        }

        .select-date-calendar-panel,
        .select-color-panel,
        .select-record-panel {
            position: absolute;
            z-index: 200;
        }

        .select-date-calendar-panel,
        .select-color-panel {
            top: 32px;
        }
    }

    .textarea {
        min-height: 200px;
    }
}

.input-field-flex-panel {
    .display-flex {
        display: flex;
        align-items: center;

        .field-name {
            color: var(--color-glay-06);
            flex: 0 0 100px;
        }

        .child-content-panel {
            position: relative;
            flex: 0 1 100%;

            .textbox {
                display: inline-block;
            }

            .select-date-calendar-panel {
                position: absolute;
                z-index: 200;
                top: 32px;
            }
        }

        .textbox,
        .textarea,
        .record-panel {
            color: var(--color-form-element-text);
            background-color: transparent;
            border: solid 1px transparent;
            cursor: pointer;

            &:hover {
                background-color: var(--color-glay-02);
            }

            &:focus {
                background-color: var(--color-glay-02);
            }
        }
    }
}

.select-button-list-panel {
    .record-value-panel {
        display: inline-block;
        border: solid 1px var(--color-border);
        border-radius: 4px;
        padding: 4px 8px;
        margin-bottom: 4px;
        margin-right: 6px;
        cursor: pointer;
        color: var(--color-select-button-text);
        background-color: var(--color-select-button-bg);

        &.selected {
            color: var(--color-white);
            background-color: var(--color-select-button-selected);
            border: solid 1px transparent;
        }

        &:focus {
            text-decoration: underline;
        }
    }
}

.select-date-calendar-panel {
    width: 280px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--color-panel-bg);
    border: solid 1px var(--color-border);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.45);

    .start-end-date-panel {
        display: flex;
        align-items: center;

        .textbox {
            width: 100px;
            text-align: center;
            border: none 1px transparent;
        }

        .end-date {
            margin-left: auto;
        }
    }

    .select-month-panel {
        display: grid;
        grid-template-columns: minmax(32px, 32px) minmax(auto, auto) minmax(32px, 32px);
        height: 32px;
        align-items: center;
        margin-bottom: 6px;

        > .image-panel {
            display: grid;
            place-items: center;
            height: 32px;
            padding: 4px;
            cursor: pointer;

            > img {
                width: 20px;
                height: 20px;
            }

            &:hover {
                background-color: var(--color-glay-02);
            }
        }

        .current-month {
            text-align: center;
            font-size: 20px;
        }
    }

    table {
        border-collapse: collapse;

        thead {
            font-size: 12px;

            tr {
                td {
                    span {
                        overflow: hidden;
                        display: inline-block;
                        font-size: 18px;
                        line-height: 1.2;
                        width: 36px;
                        height: 24px;
                        padding: 0 1px;
                        text-align: center;
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    width: 32px;
                    height: 32px;
                    text-align: center;
                    vertical-align: middle;
                    cursor: pointer;

                    &.intersect-date {
                        background-color: var(--color-glay-03);
                    }

                    &.selected-date {
                        background-color: var(--color-glay-04);
                    }

                    &.other-month {
                        background-color: var(--color-glay-02);
                    }

                    &:hover {
                        background-color: var(--color-glay-03);
                    }
                }
            }
        }
    }

    .footer-panel {
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        .button {
            margin: 0 2px;
            padding: 4px 12px;
            font-size: 14px;
        }
    }
}


.select-color-panel {
    background-color: var(--color-panel-bg);
    min-width: 320px;

    .scroll-container-panel {
        height: 320px;
        overflow-y: scroll;
    }

    table {
        tbody {
            tr {
                td {
                    width: 32px;
                    height: 32px;
                    text-align: center;
                    vertical-align: middle;
                    cursor: pointer;
                }
            }
        }
    }

    .footer-panel {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        .button {
            margin: 0 2px;
            padding: 4px 12px;
            font-size: 14px;
        }
    }
}

.select-record-panel {
    background-color: var(--color-panel-bg);
    width: 100%;

    .search-container-panel {
        display: flex;
        align-items: center;
        padding: 4px;

        .flex-right-panel {
            flex: 0 0 150px;
            margin-left: auto;
            text-align: right;
        }

        .textbox {
            border-radius: 16px;
            padding: 4px 8px;
        }

        .button {
            height: 30px;
            text-align: center;
        }
    }

    .record-list-panel {
        border: solid 1px var(--color-form-element-border);
        max-height: 400px;
        overflow-y: scroll;

        > .record-panel {
            display: flex;
            align-items: center;
            height: 32px;
            padding: 4px;
            cursor: pointer;
            border: none 1px transparent;
            box-sizing: border-box;

            .icon {
                margin-right: 6px;
                width: 16px;
                height: 16px;
            }

            &:hover {
                background-color: var(--color-form-element-hover);
            }
        }
    }
}
