@model HigLabo.Web.UI.InputPropertyPanelMessagePanel

<div class="input-property-panel-message-panel" @Html.Raw(Model.PropertyName.ToString())>
    <div class="baloon"></div>
    <div class="text-panel" text-panel="true">@Model.Text</div>
</div>
