$width-checkbox-circle: 20px;

.checkbox-panel {
    display: block;

    > label {
        display: inline-flex;
        cursor: pointer;

        .checkbox {
            flex: 0 0 40px;
            position: relative;
            display: inline-block;
            height: $width-checkbox-circle;
            margin-right: 6px;

            input {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 5;
                opacity: 0;
                cursor: pointer;

                &:checked {
                    + span {
                        &:after {
                            left: 50%;
                            background: var(--color-checkbox-panel-checked);
                        }
                    }
                }

                &:focus {
                    + span:after {
                        border: solid 1px var(--color-checkbox-panel-focus);
                    }
                }
            }

            span {
                width: 100%;
                height: 100%;
                border-radius: 30px;
                background: var(--color-glay-03);
                position: relative;
                display: inline-block;
                width: 40px;
                transition: all, 0.2s;
                box-sizing: border-box;

                &:after {
                    content: '';
                    position: absolute;
                    width: $width-checkbox-circle;
                    height: $width-checkbox-circle;
                    border-radius: 100%;
                    left: 0;
                    top: 0;
                    background: #fff;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                    transition: all, 0.2s;
                }
            }
        }

        .text-panel {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
