@import "color.scss";

$width-checkbox-circle: 20px;

:root {
    /* panel */
    --color-panel-menu-bg: #e0e0e0;
    --color-panel-menu-hover: #d8d8d8;
    --color-panel-bg: #ffffff;
    --color-popup-panel-bg: #ffffff;
    --color-footer-bg: #eaeaea;
    /* form element */
    --color-form-element-bg: var(--color-set-glay-01);
    --color-form-element-text: var(--color-text);
    --color-form-element-border: var(--color-border);
    --color-form-element-focus: var(--color-set-primary-03);
    --color-form-element-hover: var(--color-set-glay-03);
    /* input-text */
    --input-text-text-color: var(--color-text);
    --input-text-back-color: var(--color-form-element-bg);
    --input-text-back-color-focus: var(--color-form-element-focus);
    --input-text-border-color: var(--color-set-glay-03);
    --input-text-border-color-focus: var(--color-form-element-focus);
    --input-text-border-radius: 8px;
    --input-text-height: 40px;
    --input-text-padding: 8px;
    /* input-checkbox */
    --input-checkbox-border-radius: 4px;
    /* input-radio */
    --input-radio-checked-color: var(--color-set-primary-05);
    /* checkbox-panel */
    --color-checkbox-panel-checked: var(--color-set-primary-05);
    --color-checkbox-panel-focus: var(--color-set-primary-09);
}

.loading-panel {
    display: flex;
    align-items: center;

    .text {
        margin-top: 3px;
        font-size: 18px;
        margin-left: 8px;
    }
}

.loading-image {
    /* Spinner size and color */
    width: 24px;
    height: 24px;
    border-top-color: var(--color-text);
    border-left-color: var(--color-text);
    /* Additional spinner styles */
    animation: spinner 400ms linear infinite;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;

    &.large {
        width: 64px;
        height: 64px;
        border-width: 6px;
    }

    &.slow {
        animation: spinner 1s linear infinite;
    }
}

.file-upload {
    input[type='file'] {
        display: none;
    }
}

dialog {
    padding: 0;
}

.dialog-popup-panel[open] {
    border: none;
    box-shadow: 0 4px 16px rgba(0 0 0 / 16%);

    > .content-panel {
        max-width: calc(100dvw - 20px);
        width: 400px;
        padding: 12px;

        .text {
            min-height: 200px;
        }

        .button-panel {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            margin-top: 20px;

            button {
                font-size: 18px;
                padding: 4px 20px;
            }
        }
    }
}

.dialog-popup-panel::backdrop {
    background: rgba(0 0 0 / 32%);
}

.full-window-popup-panel {
    padding: 0;
    width: 100dvw;
    height: 100dvh;

    > .content-panel {
        height: calc(100% - 60px);
        overflow-y: auto;
    }

    > .footer-panel {
        height: 60px;
        display: grid;
        place-items: center;
        background-color: var(--color-panel-menu-bg);
    }
}

.full-window-popup-panel[open] {
    border: none;
}

.full-window-popup-panel::backdrop {
    background: rgba(0 0 0 / 32%);
}

.message-popup-panel {
    position: absolute;
    top: 8px;
    left: 8px;
    width: calc(100% - 24px);
    min-height: 80px;
    max-height: 400px;
    overflow-y: auto;
    z-index: 200;
    padding: 8px;
    background-color: var(--color-panel-bg);
    border: solid 1px var(--color-border);
    white-space: pre-wrap;
    word-break: break-all;
    box-shadow: 4px 4px 16px rgba(0 0 0 / 40%);
}

.data-record-popup-panel {
    position: absolute;
    width: 300px;
    max-width: 600px;
    z-index: 150;
    background-color: var(--color-panel-bg);
    border: solid 1px var(--color-border);

    > .header-panel {
        box-sizing: border-box;
        width: 100%;

        input[type=text] {
            width: 100%;
        }

        .flex-right-panel {
            display: flex;
            align-items: center;
            flex: 0 0 64px;

            button {
                width: 64px;
                height: 32px;
            }
        }
    }

    > .content-panel {
        width: 100%;
        padding: 4px;

        > .record-list-panel {
            max-height: 60dvh;
            overflow-y: auto;

            > .data-record-panel {
                cursor: pointer;

                &:hover:not([hig-property-type='Object']) {
                    background-color: var(--color-item-hover);
                }

                &:focus {
                    background-color: var(--color-item-focus);
                }

                &[selected='true'] {
                    background-color: var(--color-item-current);
                }

                &.current {
                    background-color: var(--color-item-current);
                }
            }
        }
    }

    > .footer-panel {
        display: grid;
        place-items: center;
        padding: 4px;
    }

    &[selection-mode='Signle'] {
        > .header-panel {
            [close-button] {
                display: none;
            }
        }
    }

    &[selection-mode='Multiple'] {
        > .footer-panel {
            [close-button] {
                display: none;
            }
        }
    }

    [delete-record] {
        display: none;
    }
}

.accordion-panel {
    &[toggle-state='Visible'] {
        > .header-panel {
            [toggle-state='Hidden'] {
                display: none;
            }
        }
    }

    &[toggle-state='Hidden'] {
        > .header-panel {
            [toggle-state='Visible'] {
                display: none;
            }
        }

        > .content-panel {
            display: none;
        }
    }
}

.paging-panel {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 16px;
    margin-left: 4px;

    .icon-panel {
        display: grid;
        place-items: center;
        height: 40px;
        width: 40px;
        cursor: pointer;
    }

    .page-number-panel {
        display: flex;
        align-items: center;
        padding-right: 8px;

        .page-number {
            margin: 0 4px;
            width: 40px;
            text-align: right;
            background-color: transparent;
            border: none 0 transparent;
        }
    }
}

.field-panel {
    label {
    }
}

.input-text {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 0px var(--input-text-padding);
    align-items: center;
    border: 1px solid var(--input-text-border-color);
    border-radius: var(--input-text-border-radius);
    background-color: var(--input-text-back-color);
    height: var(--input-text-height);

    input {
        width: 100%;
    }

    &:focus-within {
        border-color: var(--input-text-border-color-focus);
        background-color: var(--input-text-back-color-focus);
    }

    .input-icon {
        flex-shrink: 0;
    }

    .toggle-input-type {
        cursor: pointer;
    }

    &[input-date] {
        input {
            width: 80px;
        }

        .input-date-icon {
            width: 24px;
            height: 24px;
        }
    }
}

.input-checkbox {
    line-height: 1;

    label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        font-size: 16px;
        user-select: none;
        padding-right: 8px;
        height: 24px;
    }

    input {
        display: none;
        width: 0;
        height: 0;
    }

    .box {
        display: grid;
        place-items: center;
        width: 24px;
        height: 24px;
        margin-right: 4px;
        background-color: var(--color-form-element-bg);
        border: 1px solid var(--color-form-element-border);
        border-radius: var(--input-checkbox-border-radius);

        .checked {
            visibility: hidden;
        }
    }

    input:checked ~ .text {
        color: var(--color-text);
    }

    input:checked + .box {
        border-color: var(--color-form-element-focus);
        background: var(--color-form-element-focus);
        background-size: contain;

        .checked {
            visibility: visible;
        }
    }
}

.input-radio {
    label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        font-size: 16px;
        user-select: none;
        padding-right: 8px;
    }

    input {
        display: none;
    }

    .box {
        width: 24px;
        height: 24px;
        margin-right: 4px;
        border: 1px solid var(--color-form-element-border);
        border-radius: 50%;
        position: relative;

        &::after {
            content: "";
            width: 16px;
            height: 16px;
            position: absolute;
            top: 3px;
            left: 3px;
            border-radius: 50%;
        }
    }

    input:checked ~ .text {
        color: var(--color-text);
    }

    input:checked + .box {
        border-color: var(--color-form-element-focus);
        background: var(--color-form-element-focus);

        &::after {
            background-color: var(--input-radio-checked-color);
        }
    }
}

.input-year-month {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;

    select {
        align-items: center;
        border: 1px solid var(--input-text-border-color);
        border-radius: var(--input-text-border-radius);
        background-color: var(--input-text-back-color);
        height: var(--input-text-height);

        &[name='Year'] {
            min-width: 80px;
        }

        &[name='Month'] {
            min-width: 70px;
        }
    }

    select,
    ::picker(select) {
        appearance: base-select;
        border-radius: 4px;
        border: 1px solid var(--input-text-border-color);
    }
}

.checkbox-panel {
    display: block;

    > label {
        display: inline-flex;
        cursor: pointer;

        .checkbox {
            flex: 0 0 40px;
            position: relative;
            display: inline-block;
            height: $width-checkbox-circle;
            margin-right: 6px;

            input {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 5;
                opacity: 0;
                cursor: pointer;

                &:checked {
                    + span {
                        &:after {
                            left: 50%;
                            background: var(--color-checkbox-panel-checked);
                        }
                    }
                }

                &:focus {
                    + span:after {
                        border: solid 1px var(--color-checkbox-panel-focus);
                    }
                }
            }

            span {
                width: 100%;
                height: 100%;
                border-radius: 30px;
                background: var(--color-glay-03);
                position: relative;
                display: inline-block;
                width: 40px;
                transition: all, 0.2s;
                box-sizing: border-box;

                &:after {
                    content: '';
                    position: absolute;
                    width: $width-checkbox-circle;
                    height: $width-checkbox-circle;
                    border-radius: 100%;
                    left: 0;
                    top: 0;
                    background: #fff;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
                    transition: all, 0.2s;
                }
            }
        }

        .text-panel {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.input-record {
    min-height: 32px;

    .add-panel {
        padding: 4px 8px;
        cursor: pointer;
        background-color: var(--color-record-menu-link-bg);

        &:hover {
            background-color: var(--color-record-menu-link-hover);
            text-decoration: underline;
        }

        &:focus {
            text-decoration: underline;
        }
    }

    &[hig-property-type='Array'] {
        background-color: transparent;
        height: auto;
    }

    &:not([hig-property-type='Array']) {
        &:hover {
            background-color: var(--color-form-element-hover);
        }
    }

    &[selection-mode='Single'] {
        cursor: pointer;
        border-radius: var(--input-text-border-radius);

        [delete-record] {
            display: none;
        }
    }

    &[selection-mode='Multiple'] {
        .record-list-panel {
            max-height: 60dvh;
            overflow-y: auto;
        }
    }
}

.input-error {
    display: none;
    font-size: 12px;
    color: var(--color-input-error-text);
    white-space: pre-wrap;
    word-break: break-all;
}


.data-view {
    position: relative;
    height: 100%;

    > * {
        height: 100%;
    }

    .view-panel {
        display: grid;
        grid-template-rows: min-content 1fr 40px;
        height: 100%;

        > .panel-menu {
            > .panel-menu-row {
                height: 40px;
                display: flex;
                align-items: center;
                box-sizing: border-box;

                .panel-menu-item {
                    min-width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-sizing: border-box;
                    cursor: pointer;

                    &:hover {
                        background-color: var(--color-menu-link-hover);
                    }
                }

                input[name='SearchText'] {
                    width: 200px;
                }
            }
        }

        > .record-list-panel {
            width: 100%;
            height: 100%;
            overflow-y: auto;
        }

        > .footer-panel {
            display: flex;
            align-items: center;
            height: 40px;
        }
    }

    .detail-panel {
        width: 100%;
        margin: 0 auto;
        height: 100%;
        overflow-y: auto;

        .edit-record-panel {
            width: calc(100% - 24px);
            margin: 12px auto;
        }
    }

    .right-panel {
        position: absolute;
        width: 400px;
        max-width: 100vw;
        height: 100%;
        overflow-y: auto;
        top: 0;
        right: 0;

        @media (max-width: 500px) {
            width: calc(100vw - 100px);
        }
    }
}

.data-view-paging-panel {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 16px;
    margin-left: 4px;

    .icon-panel {
        display: grid;
        place-items: center;
        height: 40px;
        width: 40px;
        cursor: pointer;
    }

    .page-number-panel {
        display: flex;
        align-items: center;
        padding-right: 8px;

        .page-number {
            margin: 0 4px;
            width: 40px;
            text-align: right;
            background-color: transparent;
            border: none 0 transparent;
        }
    }
}

.paging-panel {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 16px;
    margin-left: 4px;

    .icon-panel {
        display: grid;
        place-items: center;
        height: 40px;
        width: 40px;
        cursor: pointer;
    }

    .page-index-panel {
        display: flex;
        align-items: center;
        padding-right: 8px;

        .page-number {
            margin: 0 4px;
            width: 40px;
            text-align: right;
            background-color: transparent;
            border: none 0 transparent;
        }
    }
}



/*-------------------------------------------------------
    Color settings
-------------------------------------------------------*/
.data-view {
    .view-panel {
        .panel-menu-row {
            background-color: var(--color-panel-menu-bg);
        }

        > .footer-panel {
            background-color: var(--color-panel-menu-bg);
        }
    }

    .right-panel {
        background-color: var(--color-panel-bg);
        border: solid 1px var(--color-border);
    }
}

.data-view-paging-panel {
    .page-number-panel {
        .page-number {
            &:hover {
                background-color: var(--color-panel-menu-hover);
            }
        }
    }

    .icon-panel {

        &:hover {
            background-color: var(--color-panel-menu-hover);
        }
    }
}

.paging-panel {
    .page-index-panel {
        .page-number {
            &:hover {
                background-color: var(--color-panel-menu-hover);
            }
        }
    }

    .icon-panel {

        &:hover {
            background-color: var(--color-panel-menu-hover);
        }
    }
}
