@page
@model HigLaboVueExamples.Pages.TableModel
@{
}



<style>
    body {
        margin: 0;
    }

    table {
        border-collapse: collapse;
        table-layout: fixed;
        width: 100%;
    }

    th {
        background-color: #eee;
    }

    tr:first-of-type th {
        width: 100px;
    }

        tr:first-of-type th:first-of-type {
            width: 25px;
        }

    td {
        border: 1px solid #ccc;
        height: 1.5em;
        overflow: hidden;
    }

    .cell, .cell input {
        height: 1.5em;
        line-height: 1.5;
        font-size: 15px;
    }

        .cell span {
            padding: 0 6px;
        }

        .cell input {
            width: 100%;
            box-sizing: border-box;
        }

</style>


<script type="module">
    import { createApp } from './lib/vue/vue.esm-browser.js'
    import Cell from './js/Cell.js'
    import { cells } from './js/store.js'

    createApp({
        components: {
            Cell
        },
        setup() {
            const cols = cells.map((_, i) => String.fromCharCode(65 + i))
            return {
                cols,
                cells
            }
        }
    }).mount('#app')
</script>

<div id="app">
    <table>
        <thead>
            <tr>
                <th></th>
                <th v-for="c in cols">{{ c }}</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="i in cells[0].length">
                <th>{{ i - 1 }}</th>
                <td v-for="(c, j) in cols">
                    <cell :r="i - 1" :c="j"></cell>
                </td>
            </tr>
        </tbody>
    </table>
</div>