@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <a href="/HelloWorld">Hello World</a>
    <a href="/HandlingUserInput">Handling User Input</a>
    <a href="/AttributeBindings">Attribute Bindings</a>
    <a href="/ConditionalAndLoops">Conditional and Loops</a>
    <a href="/FormBinding">Form Binding</a>
    <a href="/SimpleComponent">Simple Component</a>

</div>

<div>
    <a href="/FetchingData">Fetching Data</a>
    <a href="/Grid">Grid</a>
    <a href="/Svg">SVG</a>
    <a href="/Modal">Modal</a>
    <a href="/ListTransition">ListTransition</a>
    <a href="/Todo">Todo</a>
</div>

<div>
    <a href="/Counter">Counter</a>
    <a href="/Temperature">Temperature</a>
    <a href="/Flight">Flight</a>
    <a href="/Timer">Timer</a>
    <a href="/Crud">Crud</a>
    <a href="/Circle">Circle</a>
    <a href="/Cells">Cells</a>
</div>



