@page
@model HigLaboVueExamples.Pages.SimpleComponentModel
@{
}



<script type="module">
    import { createApp, ref } from './lib/vue/vue.esm-browser.js'
import TodoItem from './js/TodoItem.js'

createApp({
  components: {
    TodoItem
  },
  setup() {
    const groceryList = ref([
      { id: 0, text: 'Vegetables' },
      { id: 1, text: 'Cheese' },
      { id: 2, text: 'Whatever else humans are supposed to eat' }
    ])

    return {
      groceryList
    }
  }
}).mount('#app')
</script>

<div id="app">
  <ol>
    <todo-item
      v-for="item in groceryList"
      :todo="item"
      :key="item.id"
    ></todo-item>
  </ol>
</div>

