<!DOCTYPE html>
<html lang="en" color-scheme="mint">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="HigLabo.Web.SampleWebSite.styles.css" />
    <link rel="stylesheet" href="/color.css" />
    <link rel="stylesheet" href="/style.css" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
